.SliderWrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    width: 100%;
}

.image-gallery-slide .image-gallery-image {
    object-fit: fill;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(70vh);
}

.image-gallery-thumbnails-container {

}